.layers-control {
  border-radius: 5px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: white;
}
.layers-control ul {
  font-weight: bold;
  list-style-type: none;
  padding: 0px;
}
.layers-control ul:first-of-type div.ul-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.layers-control ul:first-of-type div.ul-header a.link {
  border-top-right-radius: 5px;
}
.layers-control ul.group-background li {
  padding-right: 10px;
}
.layers-control ul.group-default span {
  padding-right: 30px;
}
.layers-control ul.group-default li a.link {
  position: absolute;
  right: 0px;
}
.layers-control ul.group-default li:last-of-type a.link {
  border-bottom-right-radius: 5px;
}
.layers-control ul.group-default {
  margin-bottom: 5px;
}
div.ul-header {
  padding: 3px 0px 3px 10px;
  color: #ffffff;
  background-color: #00A78D;
}
a.link {
  font: 12px;
  font-weight: bold;
  float: right;
  padding: 3px 10px;
}
a.link:hover {
  text-decoration: none;
  cursor:pointer;
}
a.link-add {
  margin-top: -3px;
  color: #ffffff;
  background-color: rgba(92,184,92,0.0);
}
a.link-add:hover {
  background-color: rgba(92,184,92,0.5);
}
a.link-rm {
  color: #000000;
  background-color: rgba(255,84,84,0.0);
}
a.link-rm:hover {
  background-color: rgba(255,84,84,0.5);
}
.layers-control li {
  padding-left: 10px;
}
.layers-control span {
  font: 12px/1.5 Arial, Helvetica, sans-serif;
  padding: 5px;
}
.modal-layerlist div.modal-header {
  color: #ffffff;
  background-color: #00A78D;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal-layerlist ul {
  padding-left: 20px;
  font-weight: bold;
  list-style-type: none;
}
.modal-layerlist ul > li {
  padding-left: 10px;
  font-weight: normal;
}
.modal-layerlist ul > li > span:hover {
  font-weight: normal;
  text-decoration: underline;
  color: #28728d;
  cursor: pointer;
}
i.fa {
  margin-right: 5px;
}
i.fa-folder-open-o:hover, i.fa-folder-o:hover {
  color: #28728d;
  cursor: pointer;
}
i.fa-folder-o ~ ul {
  display: none;
}
